version: '3.8'

services:
  web:
    image: nginx:latest
    ports:
      - "9090:80"
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}